*{
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: red;
    --hover-color: gray;
    --body-color: #000000;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
}

/*custom scroll bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

::selection{
    background: var(--main-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

section{
    padding: 3rem 0 2rem;
}

img{
    width: 100%;
}

html{
    position: relative;
}

body{
    background: var(--body-color);
    color: var(--text-color);
    min-height: 100rem;
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.logo{
    margin: auto 0;
}

.logo img{
    width: 9rem;
}

/*search*/ 
.search-box{
    max-width: 15rem;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}

.search-box .bi:hover{
    color: var(--hover-color);
}

.search-box .bi{
    font-size: 1.1rem;
}

#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}

/* animated search
.search-box {
    max-width: 200px;
    display: flex;
    cursor: pointer;
    padding: 5px;
    background: var(--container-color);
    border-radius: 4rem;
    align-items: center;
    margin-right: 1rem;
}

.search-box:hover input{
    width: 10rem;
}

.search-box input {
    width: 0rem;
    outline: none;
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 0.938rem;
    transition: 0.8s;
    background: transparent;
}

.search-box a .bi{
    color: #000000;
    font-size: 1.1rem;
}
*/

/*user dropdown*/
.user{
    display: flex;
    position: relative;
}

.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 1rem;
    cursor: pointer;
    background-color: white;
}

.sub-menu{
    background: #141414;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h4{
    font-weight: 500;
}

.sub-menu {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s;
    position: absolute;  /* Change from fixed to absolute */
    top: 65%;          /* Position below the user image */
    right: 0;
    z-index: 100000;
    width: max-content;  /* Set the width to match the content */
}

.sub-menu.open-menu{
    display: block;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--text-color);
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    margin: 12px 0;
}

.sub-menu-link span{
    font-size: 1.2rem;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    color: gray;
    transform: translateX(1px);
}

.sub-menu-link > .bi:hover{
    color: gray;
}

.dropdown-box{
    display: none;
    position: relative;
}

.dropdown{
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 0.7rem;
    margin: auto;
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #000000;
    font-size: 0.7rem;
    color: #ffffff;
    text-align: center;
}

.open-dropdown{
    display: block;
}

.dropdown-menu .dropdown-item{
    color: rgba(255, 255, 255, 0.769);
    font-size: 1rem;
    padding: 10px 20px;

}

.dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.111);
    color: #ffffff;
}

.dropdown-text:hover, .dropdown:hover{
    color: var(--hover-color);
}

.navbar{
    position: relative;
    margin: auto;
    display: flex;
    row-gap: 2.1rem;
    justify-content: center;
    align-items: center;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
}

.nav-link:hover{
    color: var(--hover-color);
    transform: scale(1.1);
}

.nav-link .bi{
    font-size: 1.6rem;
}

.nav-link-title{
   font-size: 0.7rem; 
}

/*home*/
.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
    justify-content: center;
}

.home-video {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    z-index: -10;
}

.home-text{
    padding-left: 3rem;
}

.home-title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    font-weight: bold;
    position: absolute;
    left: 1rem;
    bottom: 6rem;
}

/*buttons*/
.watch-btn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
    border-radius: 4rem;
    border-color: var(--main-color);
    background-color: var(--body-color);
    position: absolute;
    bottom: 0.8rem;
    left: 0.8rem;
}

.watch-btn .bi {
    font-size: 1.5rem;
    background: var(--text-color);
    color: var(--body-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.watch-btn .text {
    font-size: 1rem; /* Adjust the font size for the text */
    color: var(--text-color);
    font-weight: 400;
}

.watch-btn:hover .bi:hover {
    background-color: gray;
}

.play-btn{
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;
}

.play-btn .bi{
    display: flex;
    font-size: 2rem;
}

/*heading*/
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
}

.heading-title{
    font-size: 1.2rem;
    font-weight: 500;
}

.form-select{
    min-width: 15% !important;
    width: auto;
}

/*cards*/
.card{
    background: #141414;
    border-radius: 0.5rem;
    transition: 0.2s linear;
    margin: 0.4rem;
    position: relative;
    overflow: hidden;
}

.card:hover{
    transform: scale(1.2);
    z-index: 10;
    transform-origin: center center;
}

.card-icon{
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.card-icon:hover{
    color: gray;
}

.card-text{
    font-size: 1rem;
}

.card-title{
    font-weight: bold;
}

.card-genre{
    font-size: 0.8rem;
}

.card-body{
    display: none;
    padding-top: 3rem; /*padding: 10px 15px*/
    position: absolute;
    background-color: #141414;
    width: 100%;
    height: 100%;
}

.card:hover > .card-body{
    display: block;
}

/*movies*/

#movies{
    padding-top: 0rem;
}

.movie-box{
    position: relative;
    width: 100%;
    height: 23.75rem;
    min-width: 200px;
    min-height: 200px;
    overflow: hidden;
    border-radius: 1rem;
}

.movie-box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-box .box-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(8deg,
    hsl(240 17% 14% / 74%) 14%, 
    hsl(240 17% 14% / 14%) 44%);
    overflow: hidden;
}

.movie-title{
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 2rem;
    font-weight: bold;
}

.movie-type {
    font-size: 0.938rem;
    text-align: left;
    padding-right: 2rem;
    font-weight: 500;
}

.movies .heading{
    padding: 10px 14px;
    justify-content: unset;
    gap: 0.5rem;
}

.select-genre{
    margin-left: auto;
}

.select-year{
    margin: auto 0;
}

.movies-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding-top: 1rem;
}

.movies-content .movie-box:hover .movie-box-img{
    transform: scale(1.1);
    transition: 0.5s;
}

.nomovies {
    font-size: 1.5rem;
}

section #favourite{
  margin-bottom: 20rem;  
}

.copyright{
    text-align: center;
    padding: 12rem;
}

.copy_land{
    text-align: center;
    padding: 6rem;
}

.fav-btn .bi{
    font-size: 1.5rem;
    display: flex;
    position: relative;
    top: 0.32rem;
}

.bi-heart-fill {
    color: red; 
}

/*play_page*/
.play-container{
   position: relative;
   min-height: 40rem;
}

.play-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: -1;
    padding-top: calc(100% * (100 / 1000));
}

.play-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(8deg,
    hsl(240 17% 14% / 74%) 14%, 
    hsl(240 17% 14% / 14%) 44%);
}

.play-text h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 1.1rem;
    /*color apo vote color*/
    margin-top: 4px;
}

.tags{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 2rem 0;
}

.tags span{
    background: transparent;
    padding: 0 4px;
}

.overview {
    border: 1px solid var(--main-color);
    padding: 15px; 
    border-radius: 8px; 
    overflow: hidden;
    min-width: min-content;
}

.overview p{
   max-width: 600px;
   font-size: 0.938rem;
   margin: 10px 0;
}

.cast{
    display: flex;
    justify-content: center;
}

.cast-btn.btn-dark {
    pointer-events: none;
    color: #fff;
    background-color: #141414;
    border-color: var(--main-color);
    margin: 6.3rem 1rem 0 0;
}

.play-movie{
    position: absolute;
    bottom: 15rem;
    right: 4rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 24px;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    40% {
        box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
    }
    80% {
        box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
    }
    100% {
        box-shadow: 0 0 0 rgb(255, 193, 7, 0);
    }
}

/*video*/
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: hsl(234 10% 20% / 60%);
    z-index: 400;
}

.video-container.show-video{
    display: flex;
}

.video-box{
    position: relative;
    width: 80rem;
}

.video-box #myvideo{
    width: 100%;
    aspect-ratio: 16/9;
}

.close-video{
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 40px;
    color: var(--main-color);
}

/*profile*/
.user-img-change{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 1rem 0 0.5rem;
}

.tab-content {
    background-color: white;
    color: black;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

}

#list-tab {
    height: auto; /* Set initial height to auto */
}

.tab-pane {
    flex: 1; /* Let the tab content fill the available space */
}

.form-control, .form-control-plaintext{
    display: flex;
    width: auto;
}

.list-group {
    display: grid;
    flex-direction: initial; 
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    justify-content: end;
    align-content: stretch;
    align-items: stretch;
}

.list-group-item.list-group-item-action.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}


.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 6.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.changeimg{
    position: relative;
    top: -3rem;
    left: 6rem;
}

.alert {
    display: flex;
}

.col-form-label{
    padding-left: 1.5rem;
}

.profile-card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.save-cancel{
    justify-content: flex-end;
    display: flex;
    gap: 0.5rem;
}

.btn.btn-outline-primary, .btn.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--text-color);
}

.btn.btn-outline-primary:hover, .btn.btn-primary:hover{
    background-color: rgb(153, 0, 0);
    border-color: rgb(153, 0, 0);
}

.btn.btn-light:hover{
    background-color: gray;
    border-color: gray;
}

/*media for responsive*/
@media screen and (max-width: 1060px) {
    .container {
    margin: 0 auto;
    width: 95%;
    }
}

@media screen and (max-width: 991px) {
    .movie-box{
        height: 340px;
    }

    .movies-content{
        grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    }
}

@media screen and (max-width: 888px) {
    .nav{
        padding: 1.1rem 0;
    }

    .home{
        min-height: 27.5rem;
        margin-top: 4rem !important;
    }

    .home-text{
        padding-left: 25px;
    }

    .home-title{
        font-size: 1.6rem;
    }

    .watch-btn {
        padding: 0.4rem 0.5rem;
        bottom: 2rem;
    }

    .watch-btn .bi {
        font-size: 1rem;
        width: 1.5rem; 
        height: 1.5rem;
    }

    .watch-btn .text {
        font-size: 0.8rem; 
    }

    .watch-btn span{
        font-size: 0.9rem;
    }

    .movie-title{
        font-size: 1rem;
        padding-right: 1.9rem;
    }
    .play-container{
        min-height: 27.5rem;
        margin-top: 4rem !important;
    }
    .play-movie{
        bottom: 10rem;
        right: 4rem;
    }

}

@media screen and (max-width: 796px) {

}

@media screen and (max-width: 790px) {
    .cast-btn.btn-dark {
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 767px) {
    .nav{
        padding: 0.6875rem 0;
    }

    .logo{
        font-size: 1.2rem;
    }

    section{
        padding: 2rem 0;
    }

    .home-img{
        object-position: left;
    }

    .home-title{
        font-size: 1.5rem;
        bottom: 7rem;
    }

    .watch-btn {
        bottom: 3rem;
    }

    .movie-type{
        font-size: 0.875rem;
        margin-top: 0.1rem;
    }

    .tags span, .overview p{
        font-size: 0.875rem;
    }

    p{
        font-size: 0.875rem; 
    }

    .play-text h2{
        font-size: 1.3rem;
    }

    .play-movie{
        bottom: 10rem;
        right: 2rem;
    }

    .list-group {
        display: contents;
        flex-direction: column;
        align-items: stretch;
    }


}

@media screen and (max-width: 705px) {
    /*.search-box{

    } and user*/   
}

@media screen and (max-width: 712px) {
    .home-title{
        font-size: 1.4rem;
        bottom: 8rem;
    }

    .watch-btn {
        bottom: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .navbar {
        display: none;
    }

    .dropdown {
        display: block;
    }
}

@media screen and (max-width: 625px) {
    .home-title{
        bottom: 9rem;
    }

    .watch-btn {
        bottom: 5rem;
    }

    .search-box{
        max-width: 60%;
        width: 100%;
        order: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
    }

}

@media screen and (max-width: 550px) {
    .home-title{
        bottom: 10rem;
    }

    .watch-btn {
        bottom: 6rem;
    }
}

@media screen and (max-width: 514px) {
    .home{
        min-height: 23.75rem;
    }

    .heading{
        padding: 0.125rem 0.875rem;
    }

    .heading-title{
        font-size: 1rem;
    }

    .play-text{
        padding: 1.25rem;
    }

    .play-movie{
        bottom: 4rem;
    }

    .video-box{
        width: 94%;
    }

    .home-title{
        bottom: 8rem;
    }

    .watch-btn {
        bottom: 4rem;
    }
}

@media screen and (max-width: 480px) {
    .home-title{
        bottom: 9rem;
    }

    .watch-btn {
        padding: 0.35rem 0.35rem;
        bottom: 5rem;
    }

    .watch-btn .bi {
        font-size: 1rem;
        width: 1.4rem; 
        height: 1.4rem;
    }

    .watch-btn .text {
        font-size: 0.7rem; 
    }
}

@media screen and (max-width: 408px) {
    *{
        scroll-padding-top: 5rem;
    }

    .nav{
        display: flex;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
    }

    .home, .play-container{
        margin-top: 7rem !important;
    }

    .movie-box{
        height: 18.75rem;
    }

    .movies-content{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
    }

    .logo img{
        width: 8rem;
    }

    .home-title{
        bottom: 7rem;
        font-size: 1.3rem;
    }

    .watch-btn {
        bottom: 4rem;
    }

    .watch-btn .text {
        font-size: 0.7rem; 
    }
}

@media screen and (max-width: 370px){
    .home{
        min-height: 18.75rem;
    }

    .movie-box{
        height: 17.82rem;
    }
/*
    .user-img, .watch-btn .bi{
        width: 2.2rem;
        height: 2.2rem;
    }
*/
    .overview p{
        text-align: justify;
    }

    .home-title{
        bottom: 5rem;
        font-size: 1.3rem;
    }

    .watch-btn {
        bottom: 2rem;
    }

    .watch-btn .text {
        font-size: 0.7rem; 
    }
}