.fav-btn .bi{
    font-size: 2rem;
    display: flex;
    position: static;
}

.fav-btn{
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}

.copyright{
    padding: 4rem !important;
}

@media screen and (max-width: 888px){

}

@media screen and (max-width: 851px) {
    .movies{
        margin-top: 1rem;
    }
}


@media screen and (max-width: 850px) {
    .navbar {
        display: none !important;
    }

    .dropdown {
        display: block !important;
    }
}

@media screen and (max-width: 625px) {
    .movies{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 408px) {

    .home, .play-container{
        margin-top: 4rem !important;
    }
}